name: Generate

on:
  workflow_dispatch:
  push:
    paths:
      - "networks/**"
    branches:
      - master

jobs:
  library:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-python@v3
        name: Set up Python 3.10
        with:
          python-version: "3.10"

      - name: Setup protoc
        run: |
          DEBIAN_FRONTEND=noninteractive
          sudo apt update
          sudo apt install -y libprotobuf-dev protobuf-compiler

      - name: Run canlib generator
        run: |
          pip install git+https://github.com/eagletrt/canlib.git#egg=canlib
          canlib generate-all networks ids lib proto csv
          mkdir -p /tmp/workspace
          cp -R networks ids lib proto csv /tmp/workspace

      - uses: actions/checkout@v2
        with:
          ref: build

      - name: Push generated includes
        id: commit
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git rm -r --ignore-unmatch */*
          cp -r /tmp/workspace/* .
          git add .
          if [[ $(git status --porcelain) ]]; then git commit -am "chore: automatically generated files" && git push; fi
          echo "::set-output name=HASH::$(git rev-parse HEAD)"

      - name: Send telegram message
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          message: |
            CAN was updated with commit: ${{ github.event.commits[0].message }}

            Changes: https://github.com/${{ github.repository }}/commit/${{steps.commit.outputs.HASH }}"
