name: Try Generate

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "networks/**"

jobs:
  library:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-python@v3
        name: Set up Python 3.10
        with:
          python-version: "3.10"

      - name: Setup protoc
        run: |
          DEBIAN_FRONTEND=noninteractive
          sudo apt update
          sudo apt install -y libprotobuf-dev protobuf-compiler

      - name: Run canlib generator
        run: |
          pip install git+ssh://git@github.com/eagletrt/canlib.git#egg=canlib
          canlib generate-all networks ids lib proto csv
          mkdir -p /tmp/workspace
          cp -R networks ids lib proto csv /tmp/workspace
